:root {
    --txt-clr-100: #fefeff;
    --txt-clr-200: #dcdea0;
    --accent-clr: #708f46;
    --header-clr: #273527;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 0 auto;
    padding: 0;
    font-Family: 'Monda', Sans-Serif;
}
p {
    font-Family: 'Monda', Sans-Serif;
    line-height: 1.9;
}
h1 {
    font-Family: 'Monda', Sans-Serif;
    font-size: 3.1rem;
    line-height: 1;
    color: var(--txt-clr-100);
}
h2 {
    margin: 1.2em auto;
    padding-bottom: .08em;
    font-Family: 'Julius Sans One', Sans-Serif;
    border-bottom: .05em solid black;
    max-width: fit-content;
    color: var(--header-clr);
    font-size: 2.3rem;
    font-weight: bolder;
    text-align: center;
}

/* Header */
header {
    width: 100vw;
    padding: 1em 2em;
    background-color: var(--accent-clr);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
.logo {
    margin-right: auto;
    margin-left: 3em;
    font-Family: 'Monda', Sans-Serif;
    font-size: 2em;
    letter-spacing: .05em;
    line-height: .9;
}
.menu {
    margin-right: 5em;
}
li {
    margin-right: 2em;
    display: inline-flex;
    justify-content: space-around;
    padding-left: 1.8em;
    list-style: none;
}
li a {
    color: var(--txt-clr-100);
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: .2em;
}
li a:hover {
    color: var(--header-clr);
    font-size: 1.4em;
    background-color: none;
    box-shadow: rgb(114, 115, 116) 0px 20px 30px -10px;
}
/* Hero */
.hero-container {
    margin: .1em auto;
    background-image: url(images/hero2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.hero-text {
    max-width: fit-content;
    padding: 5em 0em 10em 4em;
}
span {
    font-size: smaller;
}
/* Information */
.container {
    padding: 1em;
    background-color: var(--txt-clr-200);
    text-align: center;
}
.info-container {
    margin: 2em auto;
    max-width: 55ch;
}
button {
    background-color: var(--header-clr);
    color: var(--txt-clr-100);
    text-transform: uppercase;
    font-size: 1em;
    margin-top: .5em;
    padding: .8em;
    border-radius: 10px;
    border: none;
}
button:hover {
    background-color: var(--accent-clr);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* TESTIMONIALS */
.testimonial-container {
    padding: 1em;
    margin: 0 auto;
}
.testimonial-grid {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.card {
    max-width: 18em;
    padding: 1.2em;
}
.img-grid {
    width: 150px;
    border-radius: 50%;
}
/* SERVICES */
.services-container {
    padding-top: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    background-color: var(--txt-clr-200);
}
.services-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .4em;
}
.services {
    padding: 0em 2em 2em 2em;
    max-width: 25em;
}
/* FOOTER */
footer {
    background-color: var(--header-clr);
    color: var(--txt-clr-100);
    font-size: 1.3em;
    letter-spacing: .2em;
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}